<% unless cart.line_items.empty? %>
	<div class="cart_title">
		 <%= current_user.email.titleize %><br /> <%= t('.title') %>
	</div> 
	
	<table>
  		<%= render(cart.line_items) %>
		<tr class="total_line">
			<td colspan="2">Total</td>
			<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  		</tr>
	</table>

	<%= button_to t('.checkout'), new_order_path, method: :get, :class => 'btn btn-primary' %> <br />
	<%= button_to t('.empty'), cart, :method => :delete,
    	:confirm => 'Are you sure?', :class => 'btn btn-primary' %>
<% else %>

<h3>Your Cart is empty.</h3>
<% end %>