<% if notice %>
	<p id="notice"><%= notice %></p> 
<% end %>
<div id= "search-result">
<div>
	<%= form_tag products_path, :method => 'get', :id => 'product_search' do %>  
	  <p>  
	    <%= text_field_tag :search, params[:search], :placeholder => "Search Product by Title" %>  
	    <%= submit_tag "Search", :name => nil %>  
	  </p>  
	<% end %> 
	<%= will_paginate %>
</div>


<h1>Your Pragmatic Catalog</h1>
<h4 style="color:red"> <%= @search_notice %></h4>
      
<% @products.each do |product| %>
	<div class="entry"><br />
		<%= image_tag(product.image_url) %> 
		<h3><%= product.title %></h3>
		<%= sanitize(product.description) %> 

		<div class="price_line">
			<span class="price"><%= number_to_currency(product.price) %></span> 
			<div id="add_to_cart"><%= button_to 'Add to Cart', line_items_path(:product_id => product)%>
		</div>
	</div> <br />
<% end %>
<%= will_paginate %>
</div>