<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body id="store" > 

	<%= form_tag store_path, :class => 'locale' do %> 
		<%= select_tag 'set_locale',
	            options_for_select(LANGUAGES, I18n.locale.to_s),
	            :onchange => 'this.form.submit()' %>
	    <%= submit_tag 'submit' %>
	    <%= javascript_tag "$('.locale input').each(Element.hide)" %>
	<% end %>

	<div id="banner">
	    <%= image_tag("logo.png") %>
	    <nav style="float:left; font-size:14px; padding:5px;"><%= link_to 'Back to store', store_path %></nav>
	    <nav style="float:left; font-size:14px; padding:5px;"><%= link_to 'Your Orders', orders_path %></nav>
	    <% if user_signed_in? %>
	    	<nav style="float:left; font-size:14px; padding:5px;"><%= link_to 'My cart', @cart %></nav>
	    <% end %>

	    <%= @page_title || t('.title') %>
	    

	    <nav style="float:right; font-size:14px; padding:5px;">
			<% if user_signed_in? %>
			  Logged in as <strong><%= current_user.email %></strong>.
			  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
			  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</nav>
	</div>


	<div id="columns">
		<div id="side">
			<% if user_signed_in? %>

				<div id="cart" >
				</div>
			<% end %>
			<% Product.all.each do |product| %>
			<div id="side-display<%= product.id %>">
				
			</div>
			<% end %>
		</div>
		<div id="main">
		<%= yield %>
		</div>
	</div>


</body>
</html>
